html, body {
    font-size: 15px;
}

.title {
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 2.5rem;
}
.description {
    font-size: 1.2rem;
    margin:2rem 0;
}

#tags {
    font-size: 1.2rem;
    margin:2rem 0;
}

.answer {
    font-size: 1.1rem;
    margin-bottom: 2rem; 
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-left {
    display: flex;
    margin: -15px 0px 25px -12px;
}
.btn {
    width: 5rem;
    margin: 0 1rem;
}

.update {
    margin: 2rem auto;
}

form label {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
