{% extends 'app1/question_detail.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container update">
        <form method="post">
            {% csrf_token %}
            {{ form.title|as_crispy_field }}
            {{ form.content|as_crispy_field }}
            {{ form.tag_val|as_crispy_field }}
            <input class="btn btn-primary" type="submit" value="Update" style="margin-top: 2rem ;">
        </form>
    </div>
{% endblock %}