<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Ques10</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    {% if messages %}
        <ul class="messages" style="margin: 1% 40%; background: rgb(194, 188, 188);">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    <div class="container">
            <div class="title"><b>Q: </b>{{ object.title|safe }}</div>
            <div class="description"><b>Description</b> : {{ object.content|safe }}</div>
            <div id="tags"><b>Tags</b> : {{ object.tag_val }}</div>
	    <div class="buttons-left">
		<form action="{% url 'post_update' pk=object.id %}">
                    <input class="btn btn-primary" type="submit" value="Edit" />
                </form>
	    </div>
            <div class="answer"><b>Answer</b> : {{ object.answer|safe }}</div>
            <div class="buttons">
                <form action="{% url 'call_api' pk=object.id %}">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </form>  
                <form action="{% url 'home' pk=object.get_next_id %}">
                    <input class="btn btn-light" type="submit" value="Skip" />
                </form>  
            </div>
            <hr> 
    </div>
    {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="{% static 'search.js' %}"></script>
</body>
</html>
